<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Track APP modular</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center;">


  <ion-card color="primary-contrast">
    <ion-card-header>
     
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>

    <ion-item style="margin-top: 50px;" color="white">
      <ion-input placeholder="Usuario" [(ngModel)]="valor" ></ion-input>
    </ion-item>
    <ion-item style="margin-top: 10px;"color="white">
      <ion-input placeholder="Clave"  type="password"></ion-input>
    </ion-item>
    <ion-button style="margin-top: 50px;"  expand="full" (click)="pushSettingsCTRL()">Ingresar</ion-button>

    </ion-card-content>
  </ion-card>


 <!--<ion-button expand="full" [routerLink]="['/home',valor]">Ingresar</ion-button>
   <ion-button expand="full" (click)="pushSettings()">Ingresar</ion-button> 
-->

</ion-content>
